* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #21333E;
}
header .top {
  display: flex;
}
header .top .left, header .top .right {
  width: 50%;
  height: 100%;
}
header .top .left ul, header .top .right ul {
  line-height: 50px;
}
header .top .left ul li, header .top .right ul li {
  display: inline-block;
}
header .top .right {
  text-align: right;
}
header .top .right li {
  margin-left: 30px;
}

#cargo-transport {
  width: 100%;
  height: 695px;
  padding-top: 30px;
  color: white;
  background-image: url("../img/bg-9.jpg");
  background-size: cover;
  background-position: top;
}
#cargo-transport nav {
  display: flex;
}
#cargo-transport nav .nexgen {
  width: 20%;
}
#cargo-transport nav .nexgen span:first-child {
  padding: 10px 0 10px 20px;
  border-radius: 20px 0 0 20px;
  color: #00A5A5;
  background-color: rgba(5, 130, 131, 0.5);
}
#cargo-transport nav .nexgen span {
  text-transform: uppercase;
  font-weight: bold;
}
#cargo-transport nav ul {
  width: 80%;
  text-align: right;
}
#cargo-transport nav ul li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 30px;
}
