* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #21333E;
}
header .top {
  display: flex;
}
header .top .left, header .top .right {
  width: 50%;
  height: 100%;
}
header .top .left ul, header .top .right ul {
  line-height: 50px;
}
header .top .left ul li, header .top .right ul li {
  display: inline-block;
}
header .top .right {
  text-align: right;
}
header .top .right li {
  margin-left: 30px;
}
