* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
}

.container {
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

h1, h2 {
  font-weight: 900;
}

h3, h4 {
  font-weight: 700;
  color: #21333E;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  color: #058283;
}

p {
  font-size: 15px;
  font-weight: 300;
}

header {
  width: 100%;
  height: 50px;
  background-color: #21333E;
  font-size: 13px;
}
header .top {
  display: flex;
}
header .top .header {
  width: 50%;
  height: 100%;
}
header .top .header ul {
  line-height: 50px;
}
header .top .header ul li {
  display: inline-block;
}
header .top .header:nth-child(2) {
  text-align: right;
}
header .top .header:nth-child(2) li {
  margin-left: 25px;
}

#cargo-transport {
  width: 100%;
  height: 695px;
  background-image: url("../img/bg-9.jpg");
  background-size: cover;
  background-position: top;
  text-transform: uppercase;
}
#cargo-transport .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}
#cargo-transport .overlay nav {
  display: flex;
  justify-content: space-between;
}
#cargo-transport .overlay nav .nexgen {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
#cargo-transport .overlay nav .nexgen span:first-child {
  padding: 10px 0 10px 20px;
  border-radius: 20px 0 0 20px;
  color: #00A5A5;
  background-color: rgba(5, 130, 131, 0.2);
}
#cargo-transport .overlay nav .nexgen span {
  letter-spacing: 5px;
  font-weight: bold;
}
#cargo-transport .overlay nav ul li {
  display: inline-block;
  margin-left: 25px;
  font-size: 15px;
}
#cargo-transport .overlay nav ul li:last-child {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #058283;
  text-transform: uppercase;
  background-color: #058283;
}
#cargo-transport .overlay .jumbotron h5 {
  margin-top: 135px;
  margin-bottom: 10px;
  color: #058283;
  letter-spacing: 1px;
}
#cargo-transport .overlay .jumbotron h1 {
  margin-bottom: 20px;
  font-size: 55px;
}
#cargo-transport .overlay .jumbotron #lowercase {
  margin-bottom: 50px;
  text-transform: none;
  color: #BCBDBD;
  letter-spacing: 1px;
  font-weight: 400;
}
#cargo-transport .overlay .jumbotron div a:first-child {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #058283;
  text-transform: uppercase;
  background-color: #058283;
  margin-right: 20px;
}
#cargo-transport .overlay .jumbotron div a:last-child {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #058283;
  text-transform: uppercase;
}

#excellence-in-transport {
  color: #69696D;
}
#excellence-in-transport .container {
  padding: 150px 0;
  display: flex;
}
#excellence-in-transport .container .left {
  width: 70%;
  padding-right: 80px;
}
#excellence-in-transport .container .left p {
  margin-bottom: 20px;
}
#excellence-in-transport .container .left h2 {
  margin: 20px 0;
  font-size: 35px;
  color: #21333E;
}
#excellence-in-transport .container .left h2 span {
  padding: 7px;
  border-radius: 3px;
  background-color: rgba(5, 130, 131, 0.2);
}
#excellence-in-transport .container .left h2 span {
  color: #058283;
}
#excellence-in-transport .container .left p:nth-child(5) {
  border-left: 4px solid rgba(5, 130, 131, 0.2);
  padding: 10px;
  font-style: italic;
}
#excellence-in-transport .container .left ul {
  list-style: initial;
  margin-left: 15px;
}
#excellence-in-transport .container .left ul li {
  margin: 5px 0;
  color: #69696D;
  font-weight: 300;
}
#excellence-in-transport .container .right {
  width: 30%;
}
#excellence-in-transport .container .right h3 {
  margin-bottom: 20px;
  color: #21333E;
  font-size: 20px;
}
#excellence-in-transport .container .right ul {
  margin-bottom: 20px;
}
#excellence-in-transport .container .right ul li {
  padding: 10px 0;
}
#excellence-in-transport .container .right ul li img {
  width: 80px;
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  background-color: rgba(5, 130, 131, 0.2);
}
#excellence-in-transport .container .right ul li div {
  display: inline-block;
  vertical-align: super;
}
#excellence-in-transport .container .right ul li div h4 {
  color: #21333E;
  font-size: 20px;
}
#excellence-in-transport .container .right ul li p {
  color: #69696D;
}
#excellence-in-transport .container .right ul li:nth-child(2) {
  border-top: 1px solid #BCBDBD;
  border-bottom: 1px solid #BCBDBD;
}
#excellence-in-transport .container .right img {
  width: 120px;
  margin-right: 10px;
  display: inline-block;
}

#main-services {
  color: #E6ECE8;
  background-color: #111117;
}
#main-services .container {
  padding: 150px 0;
  color: white;
}
#main-services .container h2 {
  margin: 20px 0;
  font-size: 35px;
}
#main-services .container h2 span {
  padding: 7px;
  border-radius: 3px;
  background-color: rgba(5, 130, 131, 0.2);
}
#main-services .container #see-all {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
#main-services .container #see-all p {
  width: 80%;
}
#main-services .container #see-all a {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #058283;
  text-transform: uppercase;
}
#main-services .container #cards {
  display: flex;
}
#main-services .container #cards .card {
  padding: 35px;
  border-radius: 10px;
  background-color: #19191F;
}
#main-services .container #cards .card .icons {
  display: flex;
  justify-content: space-between;
}
#main-services .container #cards .card .icons .circle {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: #058283;
  background-color: rgba(5, 130, 131, 0.2);
}
#main-services .container #cards .card .icons a {
  color: #058283;
}
#main-services .container #cards .card h3 {
  margin: 20px 0;
  color: white;
}
#main-services .container #cards .card:nth-child(2) {
  margin: 0 20px;
}

#logistical-procedure {
  padding: 150px 0;
  text-align: center;
  color: #69696D;
  background-color: #EEF4ED;
  position: relative;
}
#logistical-procedure .top {
  margin-bottom: 50px;
}
#logistical-procedure .top h2 {
  margin: 20px 0;
  font-size: 35px;
  color: #21333E;
}
#logistical-procedure .top h2 span {
  padding: 7px;
  border-radius: 3px;
  background-color: rgba(5, 130, 131, 0.2);
}
#logistical-procedure .top h2 span {
  color: #058283;
}
#logistical-procedure hr {
  position: absolute;
  top: 325px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 4px;
  border: 1px solid #CCE3DE;
  background-color: #CCE3DE;
}
#logistical-procedure .bottom {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#logistical-procedure .bottom .card {
  padding: 0 25px;
  z-index: 2;
}
#logistical-procedure .bottom .card h3 {
  margin: 20px 0;
}
#logistical-procedure .bottom .card span {
  padding: 9px;
  border-radius: 50%;
  color: #058283;
  background-color: #DAECED;
  font-weight: bold;
}

#results-in-numbers {
  width: 100%;
  height: 500px;
  background-image: url("../img/bg-10.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
#results-in-numbers .container .top {
  width: 100%;
  height: 50%;
  padding-top: 120px;
}
#results-in-numbers .container .top h2 {
  margin: 20px 0;
  font-size: 35px;
}
#results-in-numbers .container .top h2 span {
  padding: 7px;
  border-radius: 3px;
  background-color: rgba(5, 130, 131, 0.2);
}
#results-in-numbers .container .bottom {
  width: 100%;
  height: 50%;
  padding-top: 40px;
  display: flex;
}
#results-in-numbers .container .bottom .result {
  width: 25%;
}
#results-in-numbers .container .bottom .result h3 {
  margin-top: 12px;
}
#results-in-numbers .container .bottom .result span {
  color: #058283;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
}
#results-in-numbers .container .bottom .result h3 {
  color: white;
}

#trusted-feedback {
  padding: 150px 0;
  color: #E6ECE8;
  background-color: #111117;
  text-align: center;
}
#trusted-feedback .container .top h2 {
  margin: 20px 0;
  font-size: 35px;
}
#trusted-feedback .container .top h2 span {
  padding: 7px;
  border-radius: 3px;
  background-color: rgba(5, 130, 131, 0.2);
}
#trusted-feedback .container .top p {
  margin: 20px 0;
}
#trusted-feedback .container .bottom {
  display: flex;
  margin-top: 40px;
}
#trusted-feedback .container .bottom .card {
  padding: 35px;
  border-radius: 10px;
  background-color: #19191F;
  text-align: left;
  position: relative;
}
#trusted-feedback .container .bottom .card img {
  height: 40px;
  background-color: #19191F;
}
#trusted-feedback .container .bottom .card p {
  margin-bottom: 10px;
}
#trusted-feedback .container .bottom .card i {
  position: absolute;
  bottom: 30px;
  right: 20px;
  color: #47474C;
  font-size: 20px;
}
#trusted-feedback .container .bottom .card #logo-1 {
  margin-left: -5px;
}
#trusted-feedback .container .bottom .card #logo-2 {
  margin-left: -9px;
}
#trusted-feedback .container .bottom .card #logo-3 {
  height: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
}
#trusted-feedback .container .bottom .card:nth-child(2) {
  margin: 0 20px;
}

#get-in-touch {
  color: #69696D;
}
#get-in-touch .container {
  padding: 150px 0;
  display: flex;
}
#get-in-touch .container .left {
  width: 70%;
  height: 100%;
}
#get-in-touch .container .left h2 {
  margin: 20px 0;
  font-size: 35px;
  color: #21333E;
}
#get-in-touch .container .left h2 span {
  padding: 7px;
  border-radius: 3px;
  background-color: rgba(5, 130, 131, 0.2);
}
#get-in-touch .container .left h2 span {
  color: #058283;
}
#get-in-touch .container .left p {
  margin-top: 20px;
  margin-bottom: 40px;
}
#get-in-touch .container .left .input-fields .input {
  width: 45%;
  height: 40px;
  padding-left: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: grey;
  background-color: #ECECEC;
  margin-right: 10px;
  margin-bottom: 15px;
}
#get-in-touch .container .left .input-fields textarea {
  width: calc(90% + 12px);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #ECECEC;
  resize: none;
}
#get-in-touch .container .left .input-fields #submit {
  display: block;
  margin-top: 20px;
  outline: none;
  color: white;
  background-color: #058283;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #058283;
  text-transform: uppercase;
}
#get-in-touch .container .right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#get-in-touch .container .right h3 {
  margin: 10px 0;
}
#get-in-touch .container .right p {
  margin: 10px 0;
}
#get-in-touch .container .right a {
  margin: 10px 0;
  color: #058283;
}
#get-in-touch .container .right a i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: rgba(5, 130, 131, 0.2);
}
#get-in-touch .container .right a span {
  margin-left: 5px;
}
#get-in-touch .container .right a:last-child {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #058283;
  text-transform: uppercase;
}

footer {
  color: #E6ECE8;
}
footer .top {
  padding: 100px 0;
  background-color: #111117;
}
footer .top .container {
  display: flex;
  align-items: center;
}
footer .top .container .col {
  width: 25%;
  padding-right: 15px;
}
footer .top .container .col .nexgen {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
footer .top .container .col .nexgen span:first-child {
  padding: 10px 0 10px 20px;
  border-radius: 20px 0 0 20px;
  color: #00A5A5;
  background-color: rgba(5, 130, 131, 0.2);
}
footer .top .container .col .nexgen span {
  letter-spacing: 5px;
  font-weight: bold;
}
footer .top .container .col .nexgen span {
  font-size: 18px;
}
footer .top .container .col p {
  margin-top: 20px;
  margin-bottom: 30px;
}
footer .top .container .col ul li {
  margin: 10px 0;
  font-weight: 300;
}
footer .top .container .col ul li span {
  margin-left: 5px;
}
footer .top .container .col ul li:last-child {
  margin-top: 40px;
}
footer .top .container .col ul li:last-child span {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #058283;
  text-transform: uppercase;
}
footer .top .container .card {
  width: 25%;
  padding: 35px;
  border-radius: 10px;
  background-color: #19191F;
}
footer .top .container .card h3 {
  margin-bottom: 20px;
  color: white;
}
footer .top .container .card ul li {
  margin: 10px 0;
  font-weight: 300;
}
footer .top .container .card ul li span {
  margin-left: 5px;
}
footer .top .container .card:nth-child(3) {
  margin: 0 20px;
}
footer .bottom {
  height: 80px;
  background-color: #0D0D11;
}
footer .bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom .container small a {
  color: #058283;
}
