<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Cargo Transport</title>
  </head>
  <body>

    <div id="app">

      <header>
        <div class="top container">
          <div class="left">
            <ul>
              <li v-for="link in headerLinksLeft">
                <a :href="link.url">
                  <i :class="link.class"></i>
                  <span>{{ link.name }}</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="right">
            <ul>
              <li v-for="link in headerLinksRight">
                <a :href="link.url">
                  <i :class="link.class"></i>
                  <span>{{ link.name }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <main>
        <section id="cargo-transport">
          <div class="container">
            <nav>
              <div class="nexgen">
                <span>nex</span>
                <span>gen</span>
              </div>
              <ul>
                <li v-for="link in navLinks">
                  <a :href="link.url">
                    <i :class="link.class"></i>
                    <span>{{ link.name }}</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </section>
      </main>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
