#cargo-transport {
  width: 100%;
  height: 695px;
  background-image: url($jumbotronImage);
  background-size: cover;
  background-position: top;
  text-transform: uppercase;
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    nav {
      display: flex;
      .nexgen {
        width: 20%;
        display: flex;
        align-items: center;
        span:first-child {
          padding: 10px 0 10px 20px;
          border-radius: 20px 0 0 20px;
          color: #00A5A5;
          background-color: $backgroudColor;
        }
        span {
          letter-spacing: 5px;
          font-weight: bold;
        }
      }
      ul {
        width: 80%;
        text-align: right;
        li {
          display: inline-block;
          margin-left: 25px;
          font-size: 15px;
        }
        li:last-child {
          @include btn;
          background-color: $brandColor;
        }
      }
    }
    .jumbotron {
      h5 {
        margin-top: 135px;
        margin-bottom: 10px;
        color: $brandColor;
        letter-spacing: 1px;
      }
      h1 {
        margin-bottom: 20px;
        font-size: 55px;
      }
      #lowercase {
        margin-bottom: 50px;
        text-transform: none;
        color: #BCBDBD;
        letter-spacing: 1px;
        font-weight: 400;
      }
      div {
        a:first-child {
          @include btn;
          background-color: $brandColor;
          margin-right: 20px;
        }
        a:last-child {
          @include btn;
        }
      }
    }
  }
}
