* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  padding: 10px 20px;
  border-radius: 3px;
  text-transform: uppercase;
}
