#excellence-in-transport {
  .container {
    @include sectionPadding;
    display: flex;
    .left {
      width: 70%;
      padding-right: 80px;
      p {
        margin-bottom: 20px;
      }
      h5 {
        text-transform: uppercase;
        color: $brandColor;
      }
      h2 {
        @include h2;
        color: $titleColor;
        span {
          color: $brandColor;
        }
      }
      p:nth-child(5) {
        border-left: 4px solid $backgroudColor;
        padding: 10px;
        font-style: italic;
      }
      ul {
        list-style: initial;
        margin-left: 15px;
        li {
          margin: 5px 0;
          color: $textColor;
          font-weight: 300;
        }
      }
    }
    .right {
      width: 30%;
      h3 {
        margin-bottom: 20px;
        color: $titleColor;
        font-size: 20px;
      }
      ul {
        margin-bottom: 20px;
        li {
          padding: 10px 0;
          img {
            width: 80px;
            padding: 5px;
            border-radius: 2px;
            display: inline-block;
            background-color: $backgroudColor;

          }
          div {
            display: inline-block;
            vertical-align: super;
            h4 {
              color: $titleColor;
              font-size: 20px;
            }
          }
          p {
            color: $textColor;
          }
        }
        li:nth-child(2) {
          border-top: 1px solid #BCBDBD;
          border-bottom: 1px solid #BCBDBD;
        }
      }
      img {
        width: 120px;
        margin-right: 10px;
        display: inline-block;
      }
    }
  }
}
