#excellence-in-transport {
  .container {
    padding: 100px 0;
    display: flex;
    .left {
      width: 70%;
      padding-right: 80px;
      p {
        margin-bottom: 10px;
        color: $textColor;
      }
      h5 {
        text-transform: uppercase;
        color: $brandColor;
      }
      h2 {
        margin: 20px 0;
        span {
          padding: 5px;
          border-radius: 2px;
          color: $brandColor;
          background-color: $backgroudColor;
        }
      }
      p:nth-child(5) {
        border-left: 4px solid $backgroudColor;
        padding: 10px;
        font-style: italic;
      }
      ul {
        list-style: initial;
        margin-left: 15px;
        li {
          color: $textColor;
        }
      }
    }
    .right {
      width: 30%;
      h3 {
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 20px;
        li {
          padding: 5px 0;
          img {
            width: 80px;
            padding: 3px;
            border-radius: 2px;
            display: inline-block;
            background-color: $backgroudColor;
          }
          div {
            display: inline-block;
          }
          p {
            color: $textColor;
          }
        }
        li:nth-child(2) {
          border-top: 1px solid $textColor;
          border-bottom: 1px solid $textColor;
        }
      }
      img {
        width: 100px;
        margin-right: 10px;
        display: inline-block;
      }
    }
  }
}
