header {
  width: 100%;
  height: 50px;
  background-color: #21333E;
  font-size: 13px;
  .top {
    display: flex;
    .header {
      width: 50%;
      height: 100%;
      ul {
        line-height: 50px;
        li {
          display: inline-block;
        }
      }
    }
    .header:nth-child(2) {
      text-align: right;
      li {
        margin-left: 25px;
      }
    }
  }
}
