#logistical-procedure {
  padding: 100px 0 200px 0;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    @include h2;
    color: $titleColor;
    span {
      color: $brandColor;
    }
  }
  p {
    margin-bottom: 60px;
  }
  hr {
    width: 100%;
    height: 3px;
    border: 1px solid $backgroudColor;
    background-color: $backgroudColor;
  }
  .numbers {
    width: 80%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 30px;
    .card {
      width: calc(100% - 20px);
      margin: 0 10px;
      h3 {
        margin: 20px 0;
      }
      span {
        padding: 5px;
        border-radius: 50%;
        background-color: $brandColor;
      }
    }
  }
}
