#main-services {
  color: $grayNurse;
  background-color: #111117;
  .container {
    padding: $sectionPadding;
    color: white;
    h2 {
      @include h2;
    }
    #see-all {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      p {
        width: 80%;
      }
      a {
        @include btn;
      }
    }
    #cards {
      display: flex;
      .card {
        padding: 35px;
        border-radius: 10px;
        background-color: #19191F;
        .icons {
          display: flex;
          justify-content: space-between;
          .circle {
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            font-size: 25px;
            color: $brandColor;
            background-color: $backgroudColor;
          }
          a {
            color: $brandColor;
          }
        }
        h3 {
          margin: 20px 0;
          color: white;
        }
      }
      .card:nth-child(2) {
        margin: 0 20px;
      }
    }
  }
}
