@mixin btn {
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid $brandColor;
  text-transform: uppercase;
}

@mixin h2 {
  margin: 20px 0;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  span {
    padding: 7px;
    border-radius: 3px;
    background-color: $backgroudColor;
  }
}
