#trusted-feedback {
  padding: 100px 0;
  color: white;
  background-color: #111117;
  text-align: center;
  .container {
    small {
      color: $brandColor;
      text-transform: uppercase;
    }
    h2 {
      margin: 20px 0;
      span {
        background-color: $brandColor;
        padding: 5px;
        border-radius: 3px;
      }
    }
    p {
      margin: 20px 0;
    }
    .cards {
      display: flex;
      .card {
        width: 30%;
        padding: 20px;
        border-radius: 10px;
        background-color: #19191F;
        text-align: left;
        position: relative;
        img {
          height: 40px;
          background-color: #19191F;
        }
        i {
          position: absolute;
          bottom: 35px;
          right: 15px;
        }
        #logo-3 {
          height: 20px;
        }
      }
      .card:nth-child(2) {
        margin: 0 5%;
      }
    }
  }
}
